<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Lodge Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/book/list}">Books</a>
            </li>

            <ul sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/notyet}">Currently On Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/notyet}">Items Past Due</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/notyet}">Users</a></li>
                        <li><a class="dropdown-item" th:href="@{/notyet}">Genres</a></li>
                        <li><a class="dropdown-item" th:href="@{/notyet}">Add Book</a></li>
                    </ul>
                </li>
            </ul>

            <a th:href="@{/logout}" class="btn btn-outline-secondary" role="button">
                Logout <span th:text ="${#authentication.getName()}"></span>
            </a>
        </div>
    </div>
</nav>

<br />
<br />
<br />

