<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">MikeBryant.com</a>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Spring Boot Thymeleaf Hello world</h1>
        <span th:text="'Hello, ' + ${message}"></span>

        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Year</th>
                </tr>
                <tr th:each ="book : ${books}">
                    <td th:utext="${book.title}"></td>
                    <td th:utext="${book.genre.genreName}"></td>
                    <td th:utext="${book.publisher}">...</td>
                    <td th:utext="${book.publishYear}">...</td>
                </tr>
            </table>
        </div>

        <a th:href="@{/books}">Veiw Books</a>
    </div>
</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>